

body {
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: auto;
background-image: url(tomte.jpg); 


 

background-attachment: fixed;
background-position: center;
}

/* Style the header */
.header {

    height:10vw;
    padding: 30px;
    text-align: center;
    font-size: 5vw;
    color: #290404b6;
}

h1 {

    margin-top:-2vw;
  font-family: Georgia, serif ;
  font-display: unset;
  font-stretch: semi-expanded;
  color: rgb(255, 55, 55);
}

.article {

 
  padding: -1vw;
  padding-right: 8vw;
    color: black;
    font-size: 2.2vw;
    float: center;
   
  
  }
.side {
  width: 100%;
  height: 20vw;

 

float: right;
font-family: 'Courier New', Courier, monospace;

}
.nav {
 
background-image: url(snopp.jpg); width: 20%; height: 30vw; margin: -30vw; margin-left: 1vw; background-image: -webkit-image-set();

background-repeat: no-repeat;
background-size: contain;


}

img {
  margin: -30vw;
margin-right: 1vw;
border-radius: 70x;


float: left;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;


}


iframe { 

margin: -30vw;
margin-right: 1vw;
  width: 25%;
  height: 30vw;
  float: right;
border-radius: 50vw;

background-attachment: fixed;
background-position: center;

background-size: contain;

}
  
