

body {
      margin: 0px;
      padding: 0px;
background-image: url(god.jpg); 


 

background-attachment: fixed;
background-position: center;
}

/* Style the header */
.header {

    height:10vw;
    padding: 30px;
    text-align: center;
    font-size: 5vw;
    color: #290404b6;
}

h1 {

    margin-top:-2vw;
  font-family: Georgia, serif ;
  font-display: unset;
  font-stretch: semi-expanded;
  color: rgb(255, 209, 209);
}

.article {

 
  
    color: rgb(255, 255, 255);
    font-size: 2vw;
    float: center;
   
  
  }
.side {
  width: 100%;
  height: 20vw;

 

float: right;
font-family: 'Courier New', Courier, monospace;

}
.nav {
 
background-image: url(snopp.jpg) ; width: 20%; height: 35vw; margin: -30vw; margin-left: 1vw;


background-repeat: no-repeat;
background-size: contain;


}

img {
  margin: -30vw;
margin-right: 1vw;


float: left;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;


}


iframe { 

margin: -30vw;
margin-right: 1vw;
  width: 25%;
  height: 35vw;
  float: right;
border-radius: 50vw;


}
  
